@import '../../../App.scss';

.sortBtn {
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  color: $dark_grey;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  appearance: none;
  box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: $white;
  margin-right: 10px;
}
