.dateFieldWrapper {
  .react-datepicker-wrapper {
    .react-datepicker__input-container {
      width: 100%;
    }
    width: 100%;
  }

  .react-datepicker__triangle {
    left: -16px !important;
  }
}
